.bg-findout {
  background-image: url("../images//bg-pattern-how-we-work-desktop.svg");
  background-color: #2c2640;
  background-position: right;
  background-size: auto 100%;
}

.bg-hero-mobile {
  background-image: url("../images/bg-pattern-intro-left-mobile.svg");
  position: left top;
  background-repeat: no-repeat;
}

@media screen and (max-width: 639px) {
  .bg-findout {
    background-image: url("../images//bg-pattern-how-we-work-mobile.svg");
  }
}

.img-hero {
  /* width: 80%; */
}

@media screen and (max-width: 1280px) {
  .img-hero {
    width: 406px;
  }
}

.media-hover:hover {
  filter: grayscale(96%) brightness(29%) contrast(90%);
  -webkit-filter: grayscale(96%) brightness(29%) contrast(90%);
  -moz-filter: grayscale(96%) brightness(29%) contrast(90%);
}

.view-plans {
  border-width: 1.7px;
  border-color: black;
}

.view-plans:hover {
  background-color: #2b282f;
  color: white;
  border-color: white;
}
